.container {
  text-align: right;
  font-size: 10px;
}
.display {
  text-align: left;
}
.Search {
  padding-top: 5px;
}
.Tempdisp {
  font-size: 20px;
  padding-top: 40px;
}
canvas {
  size: 25px;
  width: 25px;
  font-weight: inherit;
}
#defaultCity {
  font-size: 30px;
}
.detail {
  padding-top: 10px;
  font-size: 20px;
}
